<h1>Bloge</h1>
	<%= link_to 'Login', home_page_login_path, :method => "get" %>
	<%= link_to 'Register', new_user_path %>
	<h2>User Posts</h2>
		<table>
			<tr>
				<th>Title</th>
			</tr>
			<% @posts.each do |post| %>
			<tr>
				<td><%= link_to post.title, post %></td>
			</tr>
			<% end %>
		</tr>
	</table>
