<h1>Bloge</h1>
	<h2>List all Posts</h2>
		<table>
			<tr>
				<th>Title</th>
			</tr>
			<% @posts.each do |post| %>
			<tr>
				<td><%= link_to post.title, post %></td>
			</tr>
			<% end %>
		</tr>
	</table>

<h2>Create a Post</h2>
	<%= link_to 'New Post', new_post_path %>


